<!-- <h1>Hello World !</h1>
<hinv-rooms></hinv-rooms>

<hinv-container>
    <hinv-rooms></hinv-rooms>
    <hinv-employees></hinv-employees>
    <h1>This is from ng-content</h1>
</hinv-container>
<div #name></div> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchCase="'User'">
        Welcome User !
    </div>
    <div *ngSwitchDefault>
        You are not authorised to view this page
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employees'">Employees</a>
<router-outlet></router-outlet> -->
<hinv-app-nav></hinv-app-nav>